.name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.action {
    text-align: right;
}

.subscription {
    display: flex;
}

.subscriptionName {
    flex-grow: 1;
    text-align: left;
}
