.title {
    font-size: 16px;
}

.loadingContainer {
    width: 100vw;
    height: calc(100vh - 48px);
    padding-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyTip {
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgba(#000, 0.6);
}

.eventList {
    &:last-child {
        margin-bottom: 60px;
    }
}
